.page-tape {
  display: block;
  margin: 0 auto;
  color: #e6e5e5;
}
.page-tape a,
.page-tape .link {
  color: #d7a490;
}
.page-tape a:hover,
.page-tape .link:hover {
  color: #a0a6aa;
}
@media screen {
  .page-tape {
    max-width: 4096px;
  }
}
@media (min-width: 300px) {
  .page-tape {
    max-width: 300px;
  }
}
@media (min-width: 320px) {
  .page-tape {
    max-width: 320px;
  }
}
@media (min-width: 400px) {
  .page-tape {
    max-width: 400px;
  }
}
@media (min-width: 480px) {
  .page-tape {
    max-width: 480px;
  }
}
@media (min-width: 600px) {
  .page-tape {
    max-width: 600px;
  }
}
@media (min-width: 640px) {
  .page-tape {
    max-width: 640px;
  }
}
@media (min-width: 800px) {
  .page-tape {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .page-tape {
    max-width: 1024px;
  }
}
@media (min-width: 2048px) {
  .page-tape {
    max-width: 2048px;
  }
}
.page-tape > header {
  margin-bottom: 24px;
}
.page-tape > main {
  margin-bottom: 24px;
}
.page-tape .top-tv {
  background-color: #333;
}
.page-tape .top-tv .swiper-container {
  min-height: 300px;
}
